<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>29.960167</string>
		<string>-90.063807</string>
	</array>
	<array>
		<string>29.964282</string>
		<string>-90.057632</string>
	</array>
	<array>
		<string>29.938802</string>
		<string>-90.057130</string>
	</array>
	<array>
		<string>29.828644</string>
		<string>-90.140567</string>
	</array>
	<array>
		<string>29.957212</string>
		<string>-90.064272</string>
	</array>
	<array>
		<string>29.950899</string>
		<string>-90.063201</string>
	</array>
	<array>
		<string>29.963483</string>
		<string>-90.069383</string>
	</array>
	<array>
		<string>29.920995</string>
		<string>-90.130162</string>
	</array>
	<array>
		<string>29.957899</string>
		<string>-90.063879</string>
	</array>
	<array>
		<string>29.958165</string>
		<string>-90.064633</string>
	</array>
	<array>
		<string>29.934711</string>
		<string>-90.061308</string>
	</array>
	<array>
		<string>29.958233</string>
		<string>-90.063733</string>
	</array>
	<array>
		<string>29.953365</string>
		<string>-90.070175</string>
	</array>
	<array>
		<string>29.951312</string>
		<string>-90.081228</string>
	</array>
	<array>
		<string>29.943305</string>
		<string>-90.070130</string>
	</array>
	<array>
		<string>29.961242</string>
		<string>-90.060894</string>
	</array>
	<array>
		<string>29.986130</string>
		<string>-90.093941</string>
	</array>
	<array>
		<string>30.005815</string>
		<string>-90.091611</string>
	</array>
	<array>
		<string>30.166496</string>
		<string>-89.737121</string>
	</array>
	<array>
		<string>29.928809</string>
		<string>-90.084195</string>
	</array>
	<array>
		<string>29.953688</string>
		<string>-90.071485</string>
	</array>
	<array>
		<string>29.957704</string>
		<string>-90.062928</string>
	</array>
	<array>
		<string>29.986779</string>
		<string>-90.093527</string>
	</array>
	<array>
		<string>29.958549</string>
		<string>-90.065331</string>
	</array>
	<array>
		<string>29.956302</string>
		<string>-90.072813</string>
	</array>
</array>
</plist>
