<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>56.955647</string>
		<string>24.114132</string>
	</array>
	<array>
		<string>56.949000</string>
		<string>24.112587</string>
	</array>
	<array>
		<string>56.943663</string>
		<string>24.090958</string>
	</array>
	<array>
		<string>56.956864</string>
		<string>24.080486</string>
	</array>
	<array>
		<string>56.953400</string>
		<string>24.102459</string>
	</array>
	<array>
		<string>56.948626</string>
		<string>24.109669</string>
	</array>
	<array>
		<string>56.940199</string>
		<string>24.132671</string>
	</array>
	<array>
		<string>56.943851</string>
		<string>24.117565</string>
	</array>
	<array>
		<string>56.956395</string>
		<string>24.099197</string>
	</array>
	<array>
		<string>56.948532</string>
		<string>24.107952</string>
	</array>
	<array>
		<string>56.949375</string>
		<string>24.088898</string>
	</array>
	<array>
		<string>56.959765</string>
		<string>24.100742</string>
	</array>
	<array>
		<string>56.942727</string>
		<string>24.094219</string>
	</array>
	<array>
		<string>56.953868</string>
		<string>24.101257</string>
	</array>
	<array>
		<string>56.945723</string>
		<string>24.111214</string>
	</array>
	<array>
		<string>56.957800</string>
		<string>24.052505</string>
	</array>
	<array>
		<string>56.956115</string>
		<string>24.153786</string>
	</array>
	<array>
		<string>56.944787</string>
		<string>24.155846</string>
	</array>
	<array>
		<string>56.948111</string>
		<string>24.105806</string>
	</array>
	<array>
		<string>56.952838</string>
		<string>24.082890</string>
	</array>
	<array>
		<string>56.948064</string>
		<string>24.134388</string>
	</array>
	<array>
		<string>56.949307</string>
		<string>24.103140</string>
	</array>
	<array>
		<string>56.949576</string>
		<string>24.104851</string>
	</array>
	<array>
		<string>56.949673</string>
		<string>24.104288</string>
	</array>
	<array>
		<string>56.949960</string>
		<string>24.105715</string>
	</array>
</array>
</plist>
